*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

.container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}